.dot {
  display: inline-block;
  animation: var(--dur-ellipsis) linear calc(var(--dur-ellipsis) / -2) infinite var(--ellipsis-state);
}

.dotFirst {
  animation-name: dot-first;
}

.dotSecond {
  animation-name: dot-second;
}

.dotThird {
  animation-name: dot-third;
}

@keyframes dot-first {
  0% {
    opacity: 0;
  }

  20%,
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes dot-second {
  0%,
  20% {
    opacity: 0;
  }

  40%,
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes dot-third {
  0%,
  40% {
    opacity: 0;
  }

  60%,
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
